.projects-intro {
    text-align: center;
    margin-top:10px;
    margin-bottom: 20px;
}

.project-container {
    width:100%;
    margin-bottom: 50px;
}

.project-title {
    margin-top: 5px;
    font-size: 30px;
    color: #2f298a;
    text-align: left; 
    font-family: 'Arial', sans-serif;
}

.project-picture img{
    width:100%;
}

.project-language {
    font-size: 20px;
    color: #000000;
    text-align: left; 
    margin-top:-5px;
    font-family: 'Arial', sans-serif;
}

.project-description {
    text-align:left;
    font-size:15px;
    font-family: 'Arial', sans-serif;
}

.project-container a {
    text-decoration: none;
    color: #2f298a;
}

.project-title:hover {
    color: blue;
}

.project-picture:hover img {
    box-shadow: 8px 8px 0px rgba(70,70,70,100);
}